$table-body-row-height: 46px;
$table-head-row-height: 28px;

table {
  width: 100%;
  border-collapse: collapse;

  th {
    font-weight: normal;
    position: sticky;
    top: 0;
    height: $table-head-row-height;
    background-color: white;
    text-align: left;
  }

  td:first-child, th:first-child {
    padding-left: 12px;
  }

  td:last-child, th:last-child  {
    padding-right: 12px;
  }

  tbody {
    tr {
      height: $table-body-row-height;
    }

    tr:nth-child(odd) {
      background-color: #F7F9FF;
    }
  }

  tr, th {
    border: 1px solid lightgrey;
  }
}
