$table-body-row-height: 46px;
$table-head-row-height: 28px;
$table-border-thickness: 1px;

table {
    width: 100%;
    border-collapse: collapse;

    thead {
        position: sticky;
        top: 0;
        height: $table-head-row-height;
        background-color: $color-white;
    }

    tbody {
        td {
            height: $table-body-row-height;
        }

        td:first-child {
            width: $spacing-m
        }

        tr:nth-child(odd) {
            background-color: $color-slate-800;
        }
    }

    th {
        font-weight: normal;
        text-align: left;
    }

    tr {
        border: $table-border-thickness solid $color-slate-600;
    }
}
