body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'IBM Plex Sans', sans-serif;
}

table {
  width: 100%;

  thead {
    tr {
      position: sticky;
      top: 0;
      height: 28px;
      background-color: white;
    }
  }

  tbody {
    tr {
      height: 46px;
    }
  }
}
